<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificación</title>
</head>
<body style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f7f8f9">
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 30px; background-color: #B5DEDB; padding: 0.5rem">
        <h1 style="color: #333; margin-left: 1rem; font-size: 1.5rem">Notificación</h1>
        <img style="margin-top: 0.30rem" src="https://storage.googleapis.com/aros-static/aros.ico" alt="AROS" width="60">
    </div>
    <p style="color: #333; font-size: 16px; border-left: 4px solid #B1DEDB; padding-left: 15px;">{{ message }}</p>
    <br>
    <p style="color: #333; font-size: 14px;">Si tienes alguna pregunta, contacta a nuestro equipo de soporte en <a href="mailto:support@aros.services" style="color: #B1DEDB;">support@aros.services</a></p>
    <div style="margin-top: 30px; padding-top: 15px; border-top: 1px solid #a3a1a1">
        <p style="margin: 0; color: #333; font-size: 14px; text-align: center;">Equipo de AROS</p>
    </div>
</body>
</html>